<!DOCTYPE html>
<html>
<head>
  <title>Find Jobs! </title>
  <style>
    h1 {
      font-size: 30px;
      font-family: Roboto;
      font-weight: normal;
      color: rgb(250, 0, 250);
      text-align: center
    }

    #banner{
      width: 100%;
      height: 360px;
      object-fit: cover;
    }

    .bodytext{
      font-family: Roboto;
      color:rgb(80,80,80)
    }

    #container{

      max-width:720px;
      margin: 0 auto 0 auto;
    }

    
  </style>
</head>
<body>
  <h3>About us!  </h3>
  <h1>Jobs availables !</h1>
  <img id = "banner" src="static/jovian_1.jpg" >
  <h1>About Portal!</h1>
  <div id ="container">
    
    <p class="bodytext"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis lobortis urna. Suspendisse sit amet aliquet odio, vitae ornare elit. Praesent vel neque at quam egestas egestas. Morbi lacinia ultricies est, a condimentum massa iaculis nec. Curabitur congue, ipsum vitae ornare feugiat, urna risus semper dui, ac dapibus purus purus sed urna. Ut malesuada nulla et efficitur egestas. Nulla facilisi. Nam eu fermentum velit. Fusce eget venenatis urna, quis venenatis enim. Duis varius est diam, et dictum justo porta nec. Integer elementum commodo risus a luctus. Nulla ac semper nunc, quis accumsan massa. Suspendisse potenti. Proin sed ipsum maximus, maximus nisl nec, venenatis dui. </p>
  
  
<h2>Available Jobs</h2>
  <p class ="bodytext"> To show the jobs here
  </p>
    <div style = "text-align:center"> 
        <button>Contact us!</button>
        <p>Copy right 2024, Job Portal</p>
    </div>
</div>
</body>
</html>